@use '../components.module.scss' as commonStyles;

.container {
 @include commonStyles.flex();
}

img {
  margin-right: 10px;
  max-width: 100px;
}

.headerRow,
.subHeaderRow {
 @include commonStyles.flex(row, space-between);
 width: 100%;
}

.headerRow {
  align-items: baseline;
  line-height: 32px;
}

.infoContainer {
 @include commonStyles.flex(column);
  width: 100%;
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.iconVisibility {
  width: 24px;
  height: 24px;
  opacity: 0.8;

  &[data-favorite="true"] {
    fill: rgb(255, 255, 133);;
  }

  &[data-favorite="false"] {
    fill: white;
  }

  &:hover {
    opacity: 1;
  }
}
