img {
  margin-right: 10px;
  max-width: 100px;
}

.headerRow {
  justify-content: space-between;
  align-items: baseline;
  line-height: 32px;
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}
