img {
  margin-right: 10px;
  max-width: 100px;
}

.headerRow,
.subHeaderRow {
  justify-content: space-between;
}

.headerRow {
  align-items: baseline;
  line-height: 32px;
}

.infoContainer {
  width: 100%;
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.iconVisibility {
  width: 24px;
  height: 24px;
  opacity: 0.8;

  &[data-visibile="true"] {
    background-image: url("../../icons/visibility_off_white.svg");
  }

  &[data-visibile="false"] {
    background-image: url("../../icons/visibility_on_white.svg");
  }

  &:hover {
    opacity: 1;
  }
}
